/* 

- - - - - - - - - - About Tab - - - - - - - - - - 

*/


.sectionContainer{

    display: flex;
    flex-direction: column;
    
    width: 100%;
    max-width: 100%;
    box-sizing: border-box;
    margin: 0;

    padding: 2rem 5%;
    gap: 4rem;
    background-color: #fdfaf5;
    border: 50px solid blue;

}



/*  Main body */
.aboutTitle {
    font-size: 7rem;
    line-height: 1.1;
    font-weight: bold;
    color: #151d08e5;
    width: max-content;
    font-family:"Bookman", serif;

}
.aboutBody{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    gap: 4rem;
    width: 100%;
    
}


.leftSide {
    flex: 2 1 500px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    
}

.imageWrapper {
    flex: 0 0 300px;
    height: fit-content;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);

}

.headshotImg {
    width: 100%;
    height: auto;
    border-radius: 2px;
    object-fit: cover;


}

.mainText {

    min-width: 200px;
    max-width: 500px;
    border-radius: 8px;
    padding: 1em 0;
    background-color: rgba(255, 255, 255, 0.4);


    font-family: Arial, Helvetica, sans-serif;

}

.paragraphList {
    list-style: none;
}

.aboutParagraph {
    margin-bottom: 5px;
    line-height: 1.6;
    font-size: 1.2rem;
    

}


/* ---------------------- GitHub Stats --------------------- */
.githubStats {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    width: 30%;
    position: relative;
    top: -2em;

}

.githubStat{
    width: 100%; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin: 0;
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.044);
    overflow: hidden;


}

.githubStatImage{
    width: 100%; 
    height: auto;
    display: block;


}

#donut-wrapper {
    width: 100%;
    height: 150px;
    overflow: hidden;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: white;

    border: 5px solid orange;
}

#top-languages {
    width: 110% !important; 
    height: auto;
    transform: translateY(0);

    border: 5px dashed mediumorchid;
}

#general-stats {
    width: 100% !important;
    height: auto;
    display: block;
    border-radius: 10px;

    border: 5px dashed mediumspringgreen;
}

.github-link {
    text-decoration: none;
    font-size: 0.9rem;
    color: #555;
    transition: color 0.2s, padding-left 0.2s;
}

.github-link:hover {
    color: #2a769c;
    padding-left: 5px;
}






.textColumns {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 4rem;
    align-items: start;


    border: 10px solid red;
}

.textColumn {
    flex: 0 1 500px;
    display: flex;
    flex-direction: column;
    border: 10px solid red;
}

.quote {
    font-size: 2.5rem;
    font-family: "Bookman", serif;
    line-height: 1.2;
    color: #151d08;
    font-weight: bold;
    text-transform: capitalize;
    border: 10px solid red;
}

.text {
    font-size: 1.1rem;
    line-height: 1.8;
    color: #333;
    border: 10px solid red;
}

.fullWidthPhoto{
    flex: 1;
    width: 50%;

    height: auto;
    max-height: 300px;
    object-fit: cover;

    border-radius: 4px;
    filter: grayscale(20%);
    transition: filter 0.3s ease;
    border: 10px solid red;
}

.fullWidthPhoto:hover {
    filter: grayscale(0%);
    border: 10px solid red;
}


.textColumns {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 4rem;
    align-items: start;
    border: 10px solid red;
}

.textColumn {
    flex: 0 1 500px;
    display: flex;
    flex-direction: column;
    border: 10px solid red;
}

.quote {
    font-size: 2.5rem;
    font-family: "Bookman", serif;
    line-height: 1.2;
    color: #151d08;
    font-weight: bold;
    text-transform: capitalize;
    border: 10px solid red;
}

.text {
    font-size: 1.1rem;
    line-height: 1.8;
    color: #333;
    border: 10px solid red;
}



/* -------- Project Bar ---------*/

.projectBar{
    background-color: var(--secondary-cream);
    padding: 1em;
    width: 100%;
    border: 10px solid red;
}

.badgeRow{
    display: flex;
    gap: 3em;

    margin-top: 0.75em;
    
    justify-content: center;
    border: 10px solid red;
    
}


.projectRow{
    display: flex;
    flex-direction: row;
    padding: 2em;
    

    gap: 1.1em;
    border: 10px solid red;
    
}

.projectAbout{

    display: flex;
    flex-direction: column;

    align-content: space-evenly;
    justify-content: start;

    padding: 1em;
    gap: 1em;
    line-height: 1.7;
    border: 10px solid red;

}




.projectAbout, .smallPhoto{
    width: 100%;
    flex: 1;
    border: 10px solid red;

}



.linkButton, .setActiveButton{
    border: 1px solid black;
    border-radius: 5px;
    padding: 0.5em 1em;
    background-color: var(--primary-cream);
    width: fit-content;
    font-size: 0.9rem;
    border: 10px solid red;

}

.setActiveButton {
    opacity: 0.6;
    transition: all 0.3s ease;
    padding: 1em;
    font-size: 1em;
    border: none;
    border: 10px solid red;
}

.setActiveButton.active {
    opacity: 1;
    border-bottom: 2px solid #000;
    font-weight: bold;
    border: 10px solid red;
}



.subTitle{
    font-size: 1.5em;
    font-weight: bold;
    border: 10px solid red;
}

.threeColumnGrid {
    display: grid;
    grid-template-columns: 400px 400px 400px;
    gap: 3rem;
    align-items: start;
    width: 1300px; 
    border: 10px solid red;

}

.column {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    width: 400px;
    border: 10px solid red;
}



.contentBox h2, .contentBox h3 {
    margin-top: 0;
    color: #2a769c;
    border: 10px solid red;
}

.aboutParagraph {
    font-size: 1.1rem;
    line-height: 1.6;
    margin-bottom: 1.5rem;
    color: #333;
    list-style: none;
    width: 400px;

}

.projectPoint{
    margin-left: 2em;
    list-style: '- ';
    border: 10px solid red;
}

/* Animations */
@keyframes fadeIn {
    from { opacity: 0; transform: translateY(10px); }
    to { opacity: 1; transform: translateY(0); }
}


/* -------------------- Mobile --------------------- */
@media (max-width: 900px) {

    .sectionContainer {
        padding: 2rem 1.5rem;
        gap: 2rem;
    }

    .imageBar {
        flex-direction: column;
    }
    .fullWidthPhoto:last-child {
        display: none;
    }

    .textColumns, .projectRow {
        grid-template-columns: 1fr;
    }

    .quote {
        font-size: 1.8rem;
    }

    .fullWidthPhoto {
        width: 100%;
        max-height: 150px;
    }

    .badgeRow {
        flex-direction: column;
        gap: 0.5rem;
        width: 100%;
    }

    .textColumns {
        grid-template-columns: 1fr;
        gap: 2rem;
    }

    .quote {
        font-size: 1.8rem;
    }

    .projectBar {
        padding: 1.5rem;
    }

    .setActiveButton {
        width: 100%;
        text-align: left;
        padding: 0.8rem;
        position: relative;
    }


    .projectRow {
        flex-direction: column;
        padding: 1rem 0;
    }

    .smallPhoto, .projectAbout {
        width: 100%;
    }

    .smallPhoto {
        max-height: 200px;
        object-fit: cover;
    }

    .threeColumnGrid, .column, .aboutParagraph {
        width: 100% !important;
        grid-template-columns: 1fr;
    }

    .github-stats{
        flex: none;
        width: 100%;
        align-items: center;
    }
}