/* 
- - - - - - - - - - About Tab - - - - - - - - - - 
*/
.sectionContainer{
    display: flex;
    flex-direction: column;
    box-sizing: border-box;

    width: 100%;
    max-width: 100%;

    margin: 0;
    padding: 1.5rem 2em;

    background-color: #fdfaf5;
    border: 10px solid none;
}



/*  ---------------- Main body ---------------- */
.aboutTitle {
    font-size: clamp(2.5rem, 8vw, 8rem); 
    line-height: 1.1;
    font-weight: bold;
    color: #151d08e5;
    width: 100%;
    font-family: "Bookman", serif;
    margin-bottom: 1rem;
}
.aboutBody{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 4em;
    width: 100%;
    border: 10px solid none;
}
.leftSide {
    flex: 1 1 600px;
    display: flex;
    flex-direction: column;
    min-width: 0;
}

/* ---------------- Photo ---------------- */
.imageWrapper {
    flex: 0 1 300px;
    max-width: 300px;
    height: fit-content;
    box-shadow: 0 0 25px 5px rgba(0, 0, 0, 0.3);

    border: 5px dashed none;
}
.headshotImg {
    width: 100%;
    height: auto;
    border-radius: 2px;
    object-fit: cover;

    border: 5px solid none;
}


/* ---------------- About Text ---------------- */
.mainText {
    padding-top: 4em;
    min-width: 0;
    max-width: 425px;

    border-radius: 8px;

    border: 10px solid none;
}

.paragraphList {
    display: flex;
    flex-direction: column;
    flex: 1;
    list-style: none;
    line-height: 1;

    align-content: space-evenly;

    align-items: flex-start;
    gap: 1em;

    border: 10px solid none;
}

.aboutParagraph {
    display: flex;
    flex: 1;

    /*font-size: clamp(1rem, 1.2vw, 1.1rem);*/

    font-family: sans-serif;
    line-height: 1.4;

    min-height: 0;

    padding: none;
    border: 10px solid none;
}






/* ---------------------- GitHub Stats --------------------- */
.githubStats {
    display: flex;
    flex-direction: column;
    gap: 5px;
    flex: 1 1 300px;
    max-width: 400px;
    position: static;

    border: 10px dashed none;
}
.githubStat{
    width: 100%; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin: 0;
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.044);
    overflow: hidden;
}
.githubStatImage{
    width: 100%; 
    height: auto;
    display: block;
}
#donut-wrapper {
    width: 100%;
    height: 150px;
    overflow: hidden;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: white;

    border: 5px solid none;
}
#top-languages {
    width: 110% !important; 
    height: auto;
    transform: translateY(0);

    border: 5px dashed none;
}
#general-stats {
    width: 100% !important;
    height: auto;
    display: block;
    border-radius: 10px;

    border: 5px dashed none;
}
.github-link {
    text-decoration: none;
    font-size: 0.9rem;
    color: #555;
    transition: color 0.2s, padding-left 0.2s;
}
.github-link:hover {
    color: #2a769c;
    padding-left: 5px;

}





/* Project Cards */

.sectionTitle{
    font-size: 2em;
    margin: 1em 0;
}

.projectGrid{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(325px, 1fr));
    gap: 2rem;

    border: 5px solid none;
}

.projectCard {
    display: flex;
    flex-direction: column;
    min-height: 350px;
    height: auto;
    padding: 20px;
    background: var(--primary-cream);
    border: 1px solid rgba(0,0,0,0.1);
    border-radius: 12px;
    cursor: pointer;
    transition: all 0.3s ease;

    border: 5px solid none;
}

.projectDescription {
    font-size: 0.95rem;
    line-height: 1.5;
    color: #444;
    margin-bottom: 1.5rem;
    height: auto;
    flex-grow: 1; 

    border: 5px solid none;
}

.projectCardContent {
    margin-top: auto; 
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.projectCard:hover {
    transform: translateY(-5px);
    box-shadow: 10px 10px rgb(42, 118, 156);
    border-color: #2a769c;
}

.projectImg {
    width: fit-content;
    height: 180px;
    object-fit:scale-down;
    border-radius: 10px;
    margin-bottom: 1rem;
    flex-shrink: 0;
    align-self: center;
    border: 10px solid var(--secondary-cream);
}


.tagRow {
    display: flex;
    flex-wrap: wrap;
    gap: 6px;
}

.projectTitle {
    margin: 0;
    font-size: 1.5rem;
    font-weight: bold;
    color: #171717;
}

.headerTitleRow {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        margin-bottom: 1rem;
    }

.liveButton {
    background-color: #2a769c;
    color: white;
    padding: 8px 18px;
    border-radius: 6px;
    text-decoration: none;
    font-weight: 600;
    font-size: 0.9rem;
    height: fit-content;
}

.liveButton:hover {
    background-color: #1e5a78;
}


.projectNav {
    display: flex;  
    position: sticky;
    top: 7.5rem;
    z-index: 999; 

    justify-content: space-evenly;

    width: 100%;
    padding: 0.5em;
    font-size: 1.5em;

    border-bottom: 2px solid black;
    background-color: var(--primary-cream);

     border: 10px solid none;
}



/* ----------------------------------------------------- */



/* Animations */
@keyframes fadeIn {
    from { opacity: 0; transform: translateY(10px); }
    to { opacity: 1; transform: translateY(0); }
}

































/* ------------------------------------------------- */
/* -------------------- Mobile --------------------- */
/* ------------------------------------------------- */
@media (max-width: 900px) {
    .sectionContainer {
        padding: 2rem 1.5rem;
        gap: 2rem;
        border: 10px solid none;
    }
    .leftSide{
   
        border: 10px solid none;
    }
    .aboutTitle{
        font-size: 3em;
        
        border: 10px solid none;
    }
    .aboutBody{
        border: 10px solid none;
    }
    .imageWrapper{
        border: 10px dotted none;
    }
    .headshotImg{
        margin-bottom: -40px;
        border: 10px solid none;
    }

    /* ---------------- Text ---------------- */
    .mainText{
        padding: 0;
        gap: 0;

        border: 10px solid none;
    }
    .paragraphList{
        align-items: center;
        justify-content: center;
        align-content: center;
        justify-items: center;

        padding: none;
        gap: none;
        border: 10px solid none;
    }

    .aboutParagraph {
        width: 100% !important;
        grid-template-columns: 1fr;
        margin: 0px;

        border: 10px solid none;
    }

    .github-stats{
        flex: none;
        width: 100%;
        align-items: center;
        justify-content: center;
    }

    .github-stat{
        margin: 0;
    }
}