/* 

- - - - - - - - Home Page / About Section - - - - - - - - 

*/

.sectionContainer #aboutSection {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    justify-content: flex-start;
    align-items: flex-start;

    width: 100%;
    min-height: max-content;

    
    box-sizing: border-box;

    overflow: visible;
    gap: 3rem;
    padding: 2rem 5%;



}


/* -------- Image Bar ------- */
.imageBar {
    display: flex;
    flex-direction: row;
    flex: 1;
    gap: 0rem;
    width: 100%;
    min-width: 500px;
    align-content: start;

}

.fullWidthPhoto{
    flex: 1;
    width: 45%;
    margin: 0 5px;

    height: auto;
    max-height: 300px;
    object-fit: fit;

    border-radius: 4px;
    filter: grayscale(20%);
    transition: filter 0.3s ease;
}


/* ---------- About Text ----------- */
.quote {
    font-size: 2.5rem;
    font-family: "Bookman", serif;
    line-height: 1.2;
    color: #151d08;
    font-weight: bold;
    text-transform: capitalize;
}
.text {
    font-size: 1.1rem;
    line-height: 1.8;
    color: #333;

}


/* --------------- Projects ------------*/
.smallPhoto {
    display: block;
    flex: 1 1 0%;

    width: 100%;
    min-width: 0;
    max-height: 240px; 
    
    object-position: top;

    object-fit: contain;

}


.textColumns {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    align-items: start;
    margin: 1em 0;
    
}

.textColumn {
    flex: 0 1 500px;
    display: flex;
    flex-direction: column;

}





.setActiveButton {
    opacity: 0.6;
    transition: all 0.3s ease;
    padding: 1em;
    font-size: 1em;
    border: none;

}

.setActiveButton.active {
    opacity: 1;
    border-bottom: 2px solid #000;
    font-weight: bold;

}




/* -------- Project Bar ---------*/

.projectBar{
    background-color: var(--secondary-cream);
    padding: 1em;
    width: 100%;
   
}

.badgeRow{
    display: flex;
    gap: 3em;

    margin-top: 0.75em;
    
    justify-content: center;
   
    
}


.projectRow{
    display: flex;
    flex-direction: row;
    padding: 2em;
    

    gap: 1.1em;
   
    
}

.projectAbout{

    display: flex;
    flex-direction: column;

    align-content: space-evenly;
    justify-content: start;

    padding: 1em;
    gap: 1em;
    line-height: 1.7;

}




.projectAbout, .smallPhoto{
    width: 100%;
    flex: 1;

}



.linkButton, .setActiveButton{
    border: 1px solid black;
    border-radius: 5px;
    padding: 0.5em 1em;
    background-color: var(--primary-cream);
    width: fit-content;
    font-size: 0.9rem;

}

.setActiveButton {
    opacity: 0.6;
    transition: all 0.3s ease;
    padding: 1em;
    font-size: 1em;
    border: none;
  
}

.setActiveButton.active {
    opacity: 1;
    border-bottom: 2px solid #000;
    font-weight: bold;

}









/* ------------------ Tablet ------------------ */
@media (max-width: 1100px) {
    .aboutTitle {
        font-size: 5rem; 
        text-align: center;
        width: 100%;
    }

    
    .sectionContainer {
        justify-content: center;
        gap: 2rem;
        border: 10px solid pink;
    }
}





/* ------------------ Mobile ------------------ */
@media (max-width: 900px) {
    .sectionContainer {
        flex-direction: column;
        align-items: center;
        padding: 2rem 20px;
    }

    .leftSide {
        flex: none;
        width: 100%;
        align-items: center;
        text-align: center;
    }

    .aboutBody {
    
        flex-direction: column;
        align-items: center;
        
    }

    .mainText {
        flex: none;
        width: 100%;
        text-align: left;

    }

    .imageWrapper {
        max-width: 280px;
    }

    .aboutTitle {
        font-size: 3.5rem;
        width: 100%;
        text-align: center;
    }
    
    .paragraphList {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .aboutParagraph {
        font-size: 1.1rem;
        text-wrap: balance;
    }

    .github-stats{
        flex: none;
        width: 100%;
        align-items: center;
    }
}