/* 

- - - - - - - - Home Page / About Section - - - - - - - - 

*/

.sectionContainer{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;



    width: 100%;
    min-height: max-content;

    
    box-sizing: border-box;

    overflow: visible;
    padding: 0.5rem 5%;

    border: 5px dotted none;

}


/* ----------------- Image Bar ----------------- */
.imageBar {
    display: flex;
    flex-direction: row;
    flex: 1;
    gap: 1.2rem;
    width: 100%;
    min-width: 350px;
    align-content: start;
    margin: 1em 1em 0 1em;

}
.fullWidthPhoto{
    flex: 1;
    width: 45%;
    margin: 0 5px;

    height: auto;
    max-height: 300px;
    object-fit: fit;

    border-radius: 4px;

}


/* ----------------- About Text ----------------- */


.textColumn {
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;

    padding: 3.5em 5em 3em;
    width: 100%;

    border: 5px dotted none;


}
.quote {
    font-size: 3rem;
    font-family: "Bookman", serif;
    line-height: 1.2;
    color: #151d08;
    font-weight: bold;
    text-transform: capitalize;
    width: fit-content;
    min-width: 400px;

    border: px solid red;
}
.attribution{
    display: flex;
    width: 100%;
    justify-content: flex-end;
    padding-right: 3em;
    
    border: 2px solid none;
}
.text {
    font-size: 1.1rem;
    line-height: 1.8;
    color: #333;
}




/* --------------- Project Bar ----------------*/
.projectBar{
    display: flex;
    flex-direction: row;
    background-color: var(--secondary-cream);
    padding: 0 1em;
    width: 100%;
    align-self: center;
    

    border: 5px dashed none;
}
.badgeRow{
    display: flex;
    flex-direction: column;
    gap: 1em;
    margin-top: 0.75em;
    justify-content: center;
    border: 2px solid none;
}
.setActiveButton {
    width: 100%;
    opacity: 0.6;
    transition: all 0.3s ease;
    padding: 1em;
    font-size: 1em;
    border: 2px solid none;

}
.setActiveButton.active {
    opacity: 1;
    border-bottom: 2px solid #000;
    font-weight: bold;
    box-shadow: 0 0 10px 10px rgba(255, 255, 255, 0.15);
}
.projectRow{
    display: flex;
    flex-direction: row;
    padding: 2em;
    gap: 1.1em;

    align-items: center;
    
}
.smallPhoto {
    flex: 1;
    min-width: 0;
    border-radius: 10px;
    object-fit: scale-down;
    box-shadow: 0 0 10px 10px rgba(255, 255, 255, 0.1);
    height: fit-content;
    
    border: 10px solid rgba(0, 0, 0, 0.098);
}

.projectAbout{

    display: flex;
    flex-direction: column;
    flex: 1;
    width: 100%;

    align-content: space-evenly;
    justify-content: start;

    padding: 1em;
    gap: 1em;
    line-height: 1.7;

    border: 3px solid red;


}




.setActiveButton {

    border-radius: 5px;
    padding: 0.5em 1em;
    background-color: var(--primary-cream);

    width: 100%;
    height: 4em;

    font-size: 0.9rem;
    opacity: 0.6;
    transition: all 0.3s ease;

    font-size: 1em;
    
    border: 1px solid rgba(0, 0, 0, 0.287);

  
}
.setActiveButton.active {
    opacity: 1;
    border-bottom: 2px solid #000;
    font-weight: bold;
}

.linkButton{
    width: fit-content;
    padding: 0.5em;
    border-radius: 8px;
    background-color: rgba(255, 255, 255, 0.877);
    border: 1px solid rgba(0, 0, 0, 0.139);
    transition: all 0.5s ease;
    
}
.linkButton:hover{
    transition: all 0.5s ease;
    color: var(--secondary-cream);
    box-shadow: 0 0 8px 8px rgba(122, 142, 93, 0.165);
}


/* ---------------------------------------------------- */






/* ------------------ Tablet ------------------ 
@media (max-width: 1100px) {
    .aboutTitle {
        font-size: 5rem; 
        text-align: center;
        width: 100%;
    }

    
    .sectionContainer {
        justify-content: center;
        gap: 2rem;
        border: 10px solid none;
    }
}

*/














/* //////////////////////////////////////////////////////// */
/* ------------------------- Mobile ------------------ */
/* //////////////////////////////////////////////////////// */

@media (max-width: 900px) {
    .sectionContainer {
        display: flex;
        flex-direction: column;

        align-content: center;


        padding: none;
        margin: none;
      
        border: 5px solid none;
    }
    .imageBar{
        flex: 1;
        width: 100%;
        justify-content: center;


        border: 5px solid none;
    }
    .fullWidthPhoto{
        min-width: 10px;
        max-width: 35%;

        border: 5px solid none;
    }
    .fullWidthPhoto:nth-child(1){
        min-width: 100%;
    }
    .fullWidthPhoto:nth-child(2){
        display: none;
    }


    /* --------------- Quote & Text --------------- */
    .textColumns{
        display: flex;
        flex-direction: column;
        gap: 10px;
        padding: 10px 0;

        align-self: center;
        justify-content: center;
        margin: -15px 0;
        
        border: 5px dashed none;
    }
    .textColumn{
        flex: 1;
        width: 300px;
        border: 5px solid none;

    }
    .quote{
        font-size: 1.5em;
        border: 10px dotted none;
    }
    .text{
        width: 100%;
        font-family: sans-serif;
        line-height: 1.3;
        background-color: rgba(255, 255, 255, 0.3);
        border-radius: 10px;
        border: 10px dotted none;
        font-size: 1em;

        padding: 1.5em;
        margin-top: 10px;
    }


    /* ------------------- Projects ------------------- */
    .projectBar{
        border: 10px solid none;
    }
    .badgeRow{
        border: 5px solid none;
        gap: 5px;
        margin-bottom: 10px;
    }
    .setActiveButton{
        display: flex;
        align-items: center;
        justify-content: center;
        
        width: 7rem;
        height: 3em;
        line-height: 15px;
        
        padding: 10px;
        border: 2px solid none;
    }

    .setActiveButton.active{
        border: 2px solid none;
    }



    .projectRow{
        display: flex;
        padding: 0;
        flex-direction: column;
        gap: 0;
        border: 10px dashed none;
    }
    .smallPhoto{

        border: 5px solid none;
    }
    .projectText{
        font-family: sans-serif;
        line-height: 20px;
        font-size: 1em;
    }

    .linkButton{
        border: 1px solid rgba(0, 0, 0, 0.139);
    }
}